@charset "utf-8";
/* CSS Document */

.page {
	display: table;
	margin: 0 auto;
}
.centerize {
	display: table;
	margin: 0 auto;
	padding: 5px;
}
.title {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: large;
	font-weight: bolder;
	text-transform: uppercase;
	color: #F60;
}


.header {
	background-color: #333;
	height: 30px;
	width: 1900px;
	border: 1px dotted;
}

body {
	background-image: url(websitebackground.jpg);
	background-repeat: repeat;
	background-position: center;

}
